name: AppSec Ci

on:
    pull_request:
    push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run app
        run: python app/app.py

      - name: Set Target image
        run: echo "TARGET_IMAGE=python:3.11-slim" >> $GITHUB_ENV

      - name: Install Syft
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin

      - name: Generate SBOM (CycloneDX JSON)
        run: |
          syft dir:. -o cyclonedx-json > sbom.cdx.json

      - name: Upload SBOM artifact
        uses: actions/upload-artifact@v4
        with:
          name: sbom-cyclonedx
          path: sbom.cdx.json

    # Install Grype scanner
    
      - name: Install Grype
        run: |
         curl -sSfl https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh -s -- -b /usr/local/bin
      - name: Scan SBOM with Grype (JSON)
        run: |
         grype sbom:sbom.cdx.json -o json > grype-report.json
      - name: Upload Grype report artifact
        uses: actions/upload-artifact@v4
        with:
            name: grype-report
            path: grype-report.json
      - name: Policy gate (fail on Critical, warn on High)
        run: |
         python scripts/policy_gate.py
